Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(22, 74, 13); 
    color:white; 
  
  }  
  
  button {   
         background-color: #084d0a;   
         width: 100%;  
          color: rgb(247, 246, 243);   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   form {   
         
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid green;   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   
          
       
   .container {   
          padding: 50px;   
          background-color: rgb(33, 199, 94);  
          margin-left: 30%;
          margin-right: 30%;
          margin-top:6%;
  
      }   